@model IEnumerable<finalTicket.Models.Movie>

<h2>Movies</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Movie</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Release Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ReleaseDate</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>